body {
	font-family: 'Roboto', sans-serif;
}
canvas {
	float:left;
}
#rectangle {
	position:absolute;
	display:none;
	left:0;
	top:0;
	border:5px solid rgba(112, 202, 15, 0.5);
}
.round-button {
	position:absolute;
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}


.file_button_container input {
   background: transparent url("../images/take_photo_icon_doc.png") left top no-repeat;
   background-size: 20%;
   width:20%;
   height:20%;
   opacity:0;
}

.file_button_container {
	width:20%;
	height:20%;
	background: transparent url("../images/take_photo_icon_doc.png") left top no-repeat;
	background-size: 20%;
	position:absolute;
}
#file_button_browser{
	width: 700px;
	height: 462px;
    background-image: url("../images/upload_browser.png");
	background-repeat:no-repeat;
	
}

#input_browser {
	width: 700px;
	height: 462px;
	opacity: 0;
	filter: alpha(opacity=0); /* IE 5-7 */
	cursor:pointer;
	/*background: #ff9900 url("images/upload_browser.png") no-repeat 10px center;*/
}
#turn_image {
	max-width:90%;
}
.file_button_container input {
   opacity: 0;
   display:none;
}
.sk-folding-cube {
	position:absolute;
	display:none;
	position: relative;
	-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5cb85c;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(100%) rotateX(-180deg);
            transform: perspective(100%) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(100%) rotateX(0deg);
            transform: perspective(100%) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(100%) rotateY(180deg);
            transform: perspective(100%) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(100%) rotateX(-180deg);
            transform: perspective(100%) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(100%) rotateX(0deg);
            transform: perspective(100%) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(100%) rotateY(180deg);
            transform: perspective(100%) rotateY(180deg);
    opacity: 0; 
  }
}
#status {
	color:#5cb85c;
	padding-left:8px;
}
#final-canvas {
	border:4px solid #5cb85c;
}
#pin_container {
	text-align:center;
}
#pin{
	font-size:50px;
    text-align: center;
    width: 20%;
	color: #5c87b8;
	border:4px solid #5c87b8;
}
#enter_your_pin {
	color: #5c87b8;
	font-family: 'Roboto', sans-serif;
}
#send_pin_btn {
	background-color:#5c87b8;
	color:#FFF;
	font-family: 'Roboto', sans-serif;
}
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
}

img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}